header {
  font-size: 40px;
  padding-top: 90px;
}

button {
  padding: 10px 5px;
  width: 90px;
  border: none;
  border-radius: 10px;
  margin: 2%;
  background-color: #f3c677;
  color: #011627;
  border: 2px solid #011627;
  font-size: 16px;
  border-bottom-width: 5px;
}

button:hover {
  background-color: #011627;
  color: #f3c677;
  border: 2px solid #a38043;
  border-bottom-width: 5px;
  cursor: pointer;
}

button:active {
  font-size: 13px;
}

.home {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 90px);
  text-align: center;
  color: #011627;
  overflow: hidden;
}

.home small {
  padding: 10%;
}

.home-popular {
  text-align: center;
  padding: 10% 0;
}

.home-popular-img {
  height: 150px;
  width: 200px;
}

.home-cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home-card {
  display: flex;
  background-color: #f3e8d4;
  padding: 2%;
  margin: 1%;
  border-radius: 4%;
}

.home-card-title {
  flex: 1;
}

.home-card img {
  height: 10vh;
  max-width: 30%;
  object-fit: contain;
}

.home-card p {
  font-size: 20px;
  padding: 0;
}

.home-card small {
  padding-left: 85px;
  color: #736b60;
}

@media screen and (max-width: 768px) {
  .home-card {
    flex: 0 1 100%;
    max-width: 50%;
  }

  .home {
    height: auto;
    overflow: auto;
  }
}

.home-jobSearch {
  padding: 5% 0;
}

.p5Canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  max-width: 100%;
}
