header {
  font-size: 40px;
}

button {
  padding: 10px 5px;
  width: 90px;
  border: none;
  border-radius: 10px;
  margin: 2%;
  background-color: #f3c677;
  color: #011627;
  border: 2px solid #011627;
  font-size: 16px;
  border-bottom-width: 5px;
}

button:hover {
  background-color: #011627;
  color: #f3c677;
  border: 2px solid #a38043;
  border-bottom-width: 5px;
}

button:active {
  font-size: 13px;
}

.home {
  position: absolute;
  top: 70px; /* Adjust this value according to your navbar's height */
  left: 0;
  width: 100vw;
  height: calc(
    100vh - 90px
  ); /* Adjust this value according to your navbar's height */
  text-align: center;
  color: #011627;
  overflow: hidden;
}

.home p {
  padding: 2vh 0.5vh;
  font-size: 20px;
}

.home small {
  padding: 10%;
}

.home-popular {
  text-align: center;
}

.home-cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home-card {
  flex: 0 1 calc(25% - 2%);
  max-width: calc(25% - 2%);
  background-color: #f3e8d4;
  padding: 2%;
  margin: 1%;
  border-radius: 4%;
}

.home-card img {
  height: 10vh;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .home-popular {
    display: flex;
    flex-direction: column;
  }

  .home-card {
    flex: 0 1 100%;
    max-width: 50%;
  }

  .home {
    height: auto;
    overflow: auto;
  }
}

.home-jobSearch {
  padding: 5% 0;
}
