.jobSearch {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 60%;
  color: #7c8084;
  background-color: #f3e8d4;
  margin: auto;
  border-radius: 1%;
  box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.1);
}

.jobSearch label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1%;
  width: 100%;
}

.jobSearch-input {
  padding: 1% 2%;
  margin: 0% 2%;
  font-size: 120%;
  text-align: center;
  border: transparent;
  color: #7c8084;
  background-color: #f3e8d4;
  width: 50%;
}

.jobSearch-input:active {
  border-color: #4e5052;
}

.jobSearch-button {
  border: transparent;
  color: #f3e8d4;
  background-color: #686b0f;
  padding: 2%;
  width: 20%;
  margin: 0 1%;
  border-radius: 3%;
}
