.jobSearch {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  color: #7c8084;
  background-color: #f3e8d4;
  margin: auto;
  border-radius: 1%;
  box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.1);
}

.jobSearch label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1%;
  width: 100%;
}

.jobSearch-input:focus::placeholder {
  color: transparent;
}

.jobSearch-input {
  font-size: 120%;
  text-align: center;
  border: transparent;
  color: #7c8084;
  background-color: #f3e8d4;
  width: 50%;
}

.jobSearch-input:active {
  border-color: #4e5052;
}

.jobSearch-button {
  width: 30%;
  border-radius: 2%;
  margin: 2%;
  padding: 10px;
  background-color: #686b0f;
  color: #011627;
  border: 2px solid #011627;
  font-size: 16px;
  cursor: pointer;
  border-bottom-width: 5px;
}
