.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.login h1 {
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcfced;
  padding: 80px 40px;
  border-radius: 5px;
}

.login-form label {
  display: flex;
  background-color: #ededdf;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 25px;
  padding: 0 10px;
}

.login-form input[type="username"],
.login-form input[type="password"] {
  padding: 6px;
  margin: 10px 20px;
  background-color: #ededdf;
  border: none;
}

.login-form input[type="username"]:focus::placeholder,
.login-form input[type="password"]:focus::placeholder {
  color: transparent;
}

.login-button {
  width: 120px;
  border-radius: 2%;
  margin: 2%;
  padding: 10px;
  background-color: #686b0f;
  color: #fcfced;
  border: 2px solid #011627;
  font-size: 16px;
  cursor: pointer;
  border-bottom-width: 5px;
}

.login-button:hover {
  background-color: #f3c677;
  color: #011627;
}

.login img {
  height: 200px;
  padding: 2% 0;
}

.error {
  color: #ff441f;
  font-size: 19px;
}
