.nav {
  display: flex;
  justify-content: space-between;
  max-width: 88%;
  z-index: 100;
  position: relative;
  white-space: nowrap;
}

.nav-brand {
  display: flex;
  padding: 1%;
}

.nav-logo {
  padding: 2%;
  height: 40px;
  animation: App-logo-spin infinite 20s linear;
}

.nav a {
  text-decoration: none;
  padding: 2px;
  color: #011627;
}

.nav-links {
  display: flex;
  padding: 2% 1%;
}

.nav-links a {
  margin: 8% 6%;
}

.nav-links a:hover {
  background-color: #fff0ff;
  border-radius: 10%;
}

.nav-links a:active {
  background-color: #a38043;
  border-radius: 10%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-logout {
  min-width: 120px;
  height: 45px;
}

@media screen and (max-width: 768px) {
  .nav a {
    padding: 2% 1%;
    margin: 2px;
  }
  .nav-logout {
    min-width: 80px;
    height: 35px;
    padding: 0%;
    font-size: 15px;
  }
}
