.nav {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
}

.nav-brand {
  display: flex;
  padding: 1%;
}

.nav-logo {
  padding: 2%;
  height: 40px;
  animation: App-logo-spin infinite 20s linear;
}

.nav a {
  text-decoration: none;
  padding: 2px;
  color: #011627;
}

.nav-links {
  display: flex;
  padding: 2% 1%;
}

.nav-links a {
  margin: 8% 6%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
