.nav {
  display: flex;
  justify-content: space-between;
  background-color: #f3c677;
}

.nav-brand {
  display: flex;
  padding: 2%;
}

.nav-logo {
  padding: 2%;
  animation: App-logo-spin infinite 20s linear;
}

.nav a {
  text-decoration: none;
  padding: 2px;
  color: #011627;
}

.nav-links {
  display: flex;
  padding: 4%;
}

.nav-links a {
  margin: 0 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
