.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.form-container img {
  height: 200px;
  padding: 2% 0;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcfced;
  padding: 40px 40px;
  border-radius: 5px;
}

.form-container form label {
  display: flex;
  background-color: #ededdf;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 25px;
  padding: 0 10px;
}

.form-container form input[type="lastname"],
.form-container form input[type="firstname"],
.form-container form input[type="username"],
.form-container form input[type="email"],
.form-container form input[type="password"] {
  padding: 6px;
  margin: 5px 10px;
  background-color: #ededdf;
  border: none;
  border-radius: 23px;
}

.form-container form input:focus {
  border: 2px solid #686b0f;
  margin: 10px 20px;
  outline: none;
}

.form-container form input[type="lastname"]:focus::placeholder,
.form-container form input[type="firstname"]:focus::placeholder,
.form-container form input[type="email"]:focus::placeholder,
.form-container form input[type="username"]:focus::placeholder,
.form-container form input[type="password"]:focus::placeholder {
  color: transparent;
}

.form-container button {
  width: 100px;
  border-radius: 10px;
  margin: 2%;
  padding: 10px;
  background-color: #686b0f;
  color: #fcfced;
  border: 2px solid #011627;
  font-size: 16px;
  cursor: pointer;
  border-bottom-width: 5px;
}

.form-container button:active {
  font-size: 13px;
}

.form-container button:hover {
  background-color: #011627;
  color: #f3c677;
  border: 2px solid #a38043;
  border-bottom-width: 5px;
}
